/*navigation*/
.navigation{
    background-color:#1f2937;
    height: 400px;
}
.nav{
    color:#1f2937;
    text-decoration: none;
    display: flex;
}
.logo{
    size: 24px;
    color:#f9faf8;
    padding-left: 80px;
}
.link{
    padding-left: 480px;
    padding-top: 20px;
}
.link a{
    padding-left: 10px;
    color: white;
    text-decoration: none;
}

.main{
    padding-top: 40px;
    padding-left: 80px;
    display: flex;
}

.main-word h2{
    font-size: 28px;
    color:#f9faf8;
    padding-top: 20px;
}
.main-word p{
    size: 18px;
    color:#f9faf8;
    padding-top: 20px;
}
.submit-1{
    color: white;
    background-color:#3882f6;
    border-radius: 5px;
    height: 30px;
    width: 100;
    
}
.car img{
    padding-left: 90px;
    padding-bottom: 20px;
    height: 280px;
    width:400px;
}


/*lever two*/
.body-two{
    
    text-align: center;
    align-items: center;
    
}
.flex{padding-top: 20px;
    display: flex;
    gap: 3rem;
    padding-left: 100px;
}
.one img{
    height: 100px;
    width: 80px;
}
.two img{
    height: 100px;
    width: 100px;
}
.tree img{
    height: 100px;
    width: 100px;
}
.four img{
    height: 100px;
    width: 100px;
}


/*lever tree*/
.body-tree{
    height: 200px;
    background-color:#e5e7eb;
    
}
.body-tree p{
    padding-top: 30px;
    font-size: 26px;
    color: #1f2937;
    text-align: center;
    
}
.strong{
    padding-left: 650px;
}


/*lever four*/
.body-four{
    background-color: white;
    height: 120px;
    padding-top: 30px;
    padding-left: 100px;
}

.action{
    
    background-color:#3882f6;
    height: 90px;
    width: 700px;
    color: white;
    display: flex;
    padding-left: 100px;

}
.sub-action p{
    font-size: 13px;
}
.signup{
    padding-left: 100px;
    padding-top: 20px;
}
.submit-2{
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    height: 50px;
    width: 150;
    border: solid;
}

/*lever footer*/
.footer{
    background-color:#1f2937;
    height: 60px;
    text-align: center;
    padding-top: 40px;
    color: white;
}

